/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
.elm-decor {
    display: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #1C7EE7;
    z-index: -1;
    position: relative;
    &.decor01 {
        width: 363px;
        height: 363px;
        position: absolute;
        top: 1000px;
        left: 80%;
        filter: blur(450px);
    }
    &.decor02 {
        width: 180px;
        height: 180px;
        background: #7CB928;
        position: absolute;
        top: -70px;
        left: -90px;
        filter: blur(175px);
    }
    &.decor03 {
        width: 208px;
        height: 208px;
        background: #1C7EE7;
        position: absolute;
        bottom: 180px;
        left: 150px;
        filter: blur(175px);
    }
    &.decor04 {
        width: 686px;
        height: 640px;
        background: #7CB928;
        position: absolute;
        left: 92%;
        top: 170px;
        filter: blur(200px);
    }
    &.decor05 {
        width: 493px;
        height: 493px;
        background: #1C7EE7;
        position: absolute;
        bottom: 150px;
        right: 95%;
        filter: blur(200px);
    }
}
.item-tile-catalog-main {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 28px 4px 50px rgba(13, 39, 80, 0.16);
    border-radius: 5px;
    font-size: 14px;
    transition: none;
    line-height: 18px;
    padding: 45px 30px;
    .tile-gift-icon {
        z-index: 4;
        max-width: 100%;
        position: absolute;
        top: 12px;
        left: 0;
    }
    .tile-actions-wrap {
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }
    .tile-price-wrap {
        flex: 1;
    }
    .tile-button-wrap {
        flex-shrink: 0;
        display: block;
    }
    .tile-photo-wrap {
        display: block;
        flex-shrink: 0;
    }
    .tile-photo {
        height: 100px;
        img {
            margin: 0 auto 0 0;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    .tile-info-wrap {
        display: block;
        flex: 1;
        padding: 20px 0 20px 0;
        a {
            &:not(:hover) {
                color: inherit;
            }
        }
    }
    .tile-title {
        margin: 0 0 20px 0;
        font-weight: bold;
        font-size: 1em;
        line-height: inherit;
        transition: all ease 0.2s;
    }
    p {
        margin-bottom: 15px;
    }
    .btn {
        min-width: 130px;
        padding: 0 15px;
    }
    &:hover {
        color: var(--clr-base);
        .tile-title {
            color: var(--clr-att);
        }
    }
}
.item-tile-bonus {
    display: block;
    position: relative;
    background: linear-gradient(31.05deg, #005D9F 0%, #1C7EE7 100%);
    border-radius: 5px;
    color: #fff;
    padding: 30px 10px;
    transition: all ease 0.2s;
    &:hover {
        color: #fff;
        opacity: 0.9;
    }
    .tile-title {
        display: block;
        font-size: 1em;
        line-height: inherit;
        font-weight: bold;
        margin: 0 0 20px 0;
    }
    .tile-photo {
        max-width: 180px;
        display: block;
    }
    .tile-photo-wrap {
        margin-bottom: 16px;
        display: block;
    }
}
.item-tile-card {
    display: block;
    position: relative;
    background: #FFFFFF;
    box-shadow: 28px 4px 50px rgba(13, 39, 80, 0.16);
    border-radius: 5px;
    overflow: hidden;
    color: var(--clr-base);
    padding: 40px 10px 30px 10px;
    .tile-photo-wrap {
        display: block;
        padding: 0 28px;
    }
    .tile-info-wrap, .tile-actions-inner-wrap {
        a {
            &:not(:hover) {
                color: inherit;
            }
        }
    }
    .tile-title-wrap {
        display: block;
        margin-bottom: 50px;
    }
    .tile-desc-wrap {
        margin-bottom: 20px;
    }
    .tile-desc {
        margin-bottom: 5px;
        display: block;
    }
    .tile-title {
        font-weight: bold;
        margin: 0 0 35px 0;
        text-align: center;
    }
    .tile-photo {
        margin-bottom: 30px;
    }
    .tile-actions-inner-wrap {
        margin-bottom: 50px;
    }
    .tile-action-icon {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 18px;
        position: relative;
        display: block;
        padding: 0 0 0 25px;
        &:last-child {
            margin-bottom: 0;
        }
        .tile-action-title {
            color: #B5B8BB;
            font-weight: 400;
            margin: 0 0 2px 0;
        }
        .tile-ico {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .btn {
        width: 100%;
        font-weight: bold;
    }
}
.item-tile-chanel {
    display: block;
    padding-top: 10px;
    color: var(--clr-base);
    transition: all ease 0.2s;
    max-width: 140px;
    position: relative;
    margin: 0 auto;
    &:hover {
        color: var(--clr-att);
    }
    .tile-photo {
        display: block;
        margin: 0 auto 10px auto;
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    .tile-title {
        font-size: 1em;
        font-weight: 400;
        margin: 0;
        text-align: center;
        display: block;
    }
    .tile-help {
        position: absolute;
        top: 0;
        right: 0;
    }
}
.item-tile-srv {
    display: block;
    position: relative;
    height: 100%;
    min-height: 160px;
    padding: 30px 20px 20px 14px;
    color: var(--clr-base);
    background-color: #fff;
    box-shadow: 28px 4px 50px rgba(13, 39, 80, 0.16);
    border-radius: 5px;
    transition: all ease 0.2s;
    .tile-ico {
        width: 24px;
        height: 24px;
        margin-bottom: 30px;
    }
    .tile-title {
        display: block;
        font-weight: 400;
        margin: 0;
        font-size: 1em;
        line-height: inherit;
    }
    .tile-subtitle {
        display: block;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        margin: 0;
    }
}
.item-tile-offer {
    display: block;
    .tile-photo-wrap {
        display: block;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
    .tile-info-wrap {
        display: block;
        padding: 35px 0 0 0;
    }
    .tile-features-wrap {
        color: var(--clr-light);
        margin-bottom: 24px;
    }
    .tile-price-wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 24px;
    }
    .tile-action-wrap {
        display: block;
    }
    .tile-title {
        display: block;
        font-weight: bold;
        margin: 0 0 20px 0;
        font-size: 1em;
        line-height: inherit;
        a {
            display: block;
            &:not(:hover) {
                color: inherit;
            }
        }
    }
    .tile-price {
        font-size: 1em;
        font-weight: 400;
        line-height: inherit;
        color: inherit;
        margin: 0 10px 0 0;
        flex-shrink: 0;
    }
    .btn {
        min-width: 123px;
    }
    p, .tile-info, .tile-feature {
        margin-bottom: 20px;
        display: block;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.item-tile-catalog {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 28px 4px 50px rgba(13, 39, 80, 0.16);
    border-radius: 5px;
    font-size: 14px;
    line-height: 18px;
    min-height: 100%;
    color: var(--clr-base);
    padding: 34px 10px 30px 10px;
    .tile-photo-wrap {
        display: block;
        width: 100%;
        flex-shrink: 0;
    }
    .tile-info-wrap {
        display: block;
        width: 100%;
        flex: 1;
        padding: 40px 0 20px 0;
        a {
            &:not(:hover) {
                color: inherit;
            }
        }
    }
    .tile-actions-wrap {
        display: flex;
        margin: 0 -25px 0 0;
        align-items: center;
        flex-shrink: 0;
        flex-wrap: wrap;
    }
    .tile-action {
        flex-shrink: 0;
        padding: 0 12px 0 0;
    }
    .tile-info {
        margin-bottom: 14px;
        display: block;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .tile-title {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 20px 0;
        font-weight: 400;
    }
    .tile-photo {
        height: 250px;
    }
    .tile-price {
        font-size: 16px;
        line-height: 18px;
        font-weight: 600;
    }
    .text-small {
        font-size: 12px;
        line-height: 16px;
    }
    .text-light {
        display: inline;
    }
    p.text-light {
        display: block;
    }
    p {
        margin-bottom: 5px;
    }
    .btn-action-more {
        margin: 8px 0;
    }
}
.item-tile-action {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #FFFFFF;
    box-shadow: 28px 28px 50px rgba(63, 75, 89, 0.2);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    color: var(--clr-base);
    &:hover {
        color: var(--clr-base);
        .tile-title {
            color: var(--clr-att);
        }
    }
    .tile-photo-wrap {
        flex-shrink: 0;
        display: block;
    }
    .tile-info-wrap {
        width: 100%;
        display: block;
        flex: 1;
        padding: 32px 15px 35px 25px;
    }
    .tile-action-wrap {
        display: block;
        width: 100%;
        flex-shrink: 0;
        padding: 0 25px 38px 25px;
    }
    .tile-title {
        display: block;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: var(--clr-base);
        margin: 0 0 15px 0;
        transition: all ease 0.2s;
    }
    .tile-text {
        display: block;
        margin: 0 0 16px 0;
        color: var(--clr-light);
        &:last-child {
            margin-bottom: 0;
        }
    }
    .tile-text-att {
        display: block;
        margin: 0 -15px 20px -25px;
        background-color: #FFCC00;
        padding: 10px 15px 10px 25px;
        color: var(--clr-base);
    }
    .tile-photo {
        border-radius: 5px;
        &:before {
            padding-top: 71.94%;
        }
    }
}
.item-tile-icon {
    display: flex;
    align-items: center;
    position: relative;
    .tile-ico {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }
    .tile-title {
        display: block;
        padding: 0 0 0 10px;
    }
}
.item-tile-tarif {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 28px 50px rgba(13, 39, 80, 0.16);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    padding: 28px 20px 30px 30px;
    .tile-title-wrap {
        display: block;
        width: 100%;
        flex-shrink: 0;
        margin-bottom: 22px;
    }
    .tile-items-wrap {
        flex: 1;
        display: block;
        width: 100%;
        margin-bottom: 32px;
    }
    .tile-sticker-wrap {
        margin-bottom: 5px;
        display: block;
    }
    .tile-info-wrap {
        font-size: 12px;
        line-height: 16px;
        color: #E60040;
        margin: 0 -10px 0 0;
        img {
            display: inline-block;
            vertical-align: middle;
            height: 20px;
        }
        .tile-info {
            display: block;
            margin-top: 5px;
            color: var(--clr-base);
        }
    }
    .tile-bottom-wrap {
        display: block;
        width: 100%;
        flex-shrink: 0;
        margin-bottom: 20px;
    }
    .tile-price-wrap {
        display: block;
        width: 100%;
        flex-shrink: 0;
        margin-bottom: 30px;
        text-align: center;
    }
    .tile-action-wrap {
        display: block;
        flex-shrink: 0;
        margin-left: -18px;
        margin-right: -8px;
        text-align: center;
    }
    .tile-item {
        display: block;
        position: relative;
        padding: 0 0 0 46px;
        margin: 0 0 30px 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .tile-item-title, .tile-item-value {
        display: block;
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 8px 0;
        font-weight: 400;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .tile-item-title {
        color: var(--clr-light);
    }
    .tile-ico {
        width: 34px;
        height: 34px;
        flex-shrink: 0;
        border-radius: 50%;
        background-color: #EEEEEE;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -17px;
        img, svg {
            max-width: 1005;
            max-height: 100%;
        }
    }
    .tile-title {
        font-size: 24px;
        line-height: (32/24);
        font-weight: 400;
        margin: 0;
    }
    .btn {
        width: 100%;
    }
    .tile-price-main {
        font-size: 34px;
        .price-info-row {
            font-size: 16px;
            line-height: 22px;
        }
    }
}
.item-tile-plus {
    color: var(--clr-light);
    display: block;
    position: relative;
    min-height: 100%;
    padding: 18px 12px 32px 12px;
    background-color: #fff;
    box-shadow: 28px 4px 50px rgba(13, 39, 80, 0.16);
    border-radius: 5px;
    line-height: (20/16);
    .tile-title-wrap {
        display: flex;
        margin: 0 0 10px 0;
    }
    .tile-ico {
        width: 50px;
        height: 50px;
        flex-shrink: 0;
    }
    .tile-title {
        flex: 1;
        padding: 0 0 0 2px;
        font-size: (18/16em);
        line-height: (20/16);
        text-transform: uppercase;
        font-weight: 400;
        margin: 0;
        color: var(--clr-base);
        display: flex;
        align-items: center;
        min-height: 50px;
        &.title-small {
            font-size: 1em;
        }
    }
}
.item-tile-new {
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 18px;
    color: var(--clr-light);
    &:hover {
        color: var(--clr-light);
        .tile-title {
            color: var(--clr-att);
        }
    }
    .tile-info-wrap {
        padding-top: 13px;
    }
    .tile-photo {
        border-radius: 10px;
        &:before {
            padding-top: 71.32%;
        }
    }
    .tile-title {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 13px;
        color: var(--clr-base);
        font-weight: 400;
        transition: all ease 0.2s;
    }
    .tile-text {
        display: block;
        margin-bottom: 13px;
    }
    .tile-info {
        font-size: 16px;
        line-height: 20px;
    }
}
.item-tile-services {
    border-radius: 10px;
    border: 1px solid var(--clr-att);
    padding: 19px 29px 20px 29px;
    color: #3F4B59;
    .tile-ico {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        margin: 0 0 23px 0;
        img {
            right: 3px;
            bottom: 3px;
            max-width: 47px;
            max-height: 47px;
        }
    }
    .tile-content-block {
        display: none;
        padding: 15px 0 55px 0;
        a {
            display: block;
            padding: 5px 0 4px 0;
        }
    }
    .tile-title {
        color: var(--clr-base);
        font-weight: 400;
        margin: 0;
        padding: 0 30px 0 0;
        position: relative;
        display: block;
        cursor: pointer;
        &.active {
            &:before {
                .t-rotate(180deg);
            }
        }
        &:before {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            background: url(../img/icons/arrow-toggle.svg) center no-repeat;
            background-size: 100% auto;
            transition: all ease 0.2s;
            top: 50%;
            right: -2px;
            margin-top: -12px;
        }
    }
    a {
        &:not(:hover) {
            color: inherit;
        }
    }
}
.elm-photo, .tile-photo {
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    line-height: 1;
    transform: translateZ(0);
    &.photo-main {
        border: 1px solid #f00;
        width: 300px;
        height: 300px;
    }
    &:before {
        content: "";
        display: none;
        padding-top: 100%;
    }
    img {
        display: block;
        position: relative;
        width: 100%;
    }
    &.photo-cover {
        &:before {
            display: block;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &.photo-contain {
        &:before {
            display: block;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }
}
.elm-price, .tile-price {
    white-space: nowrap;
    &.price-old {
        text-decoration: line-through;
    }
    &:after {
        content: " ₽";
        font-family: Arial, Roboto, sans-serif;
    }
}
.elm-price-main, .tile-price-main {
    .price-info {
        font-size: 10px;
        line-height: (18/14);
        position: relative;
        white-space: nowrap;
        text-align: center;
        display: inline-block;
        vertical-align: baseline;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 1px;
            background-color: currentColor;
        }
        .price-info-row {
            display: block;
            margin-bottom: 2px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.tile-sticker, .elm-sticker {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    overflow: hidden;
    height: 33px;
    background: #7CB928;
    border-radius: 5px;
    padding: 0 9px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    line-height: 33px;
    text-transform: uppercase;
}
.elm-ico, .button-ico, .menu-ico, .frm-ico, .tab-ico, .tile-ico {
    display: block;
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    img, [class*="icon-"], .i, svg {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
    &.color-blue {
        background: rgba(28, 126, 231, 0.5);
    }
    &.color-green {
        background: rgba(125, 185, 40, 0.5);
    }
    &.color-yellow {
        background: rgba(255, 204, 0, 0.5);
    }
    &.color-violet {
        background: rgba(123, 97, 255, 0.5);
    }
}
.elm-overlay {
    display: none;
    animation: fadein ease 0.2s;
    background: fade(#000, 80);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 120;
    &.active {
        display: block;
    }
}
.tile-help, .elm-help {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--clr-border);
    text-align: center;
    line-height: 18px;
    cursor: pointer;
    z-index: 10;
    background-color: #fff;
    font-size: 12px;
    font-weight: bold;
    color: var(--clr-light);
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: -10px;
        bottom: -10px;
        left: -10px;
        right: -10px;
    }
    &:before {
        content: "?";
    }
}
.tile-gift-icon,
.elm-gift-icon {
    display: block;
    position: relative;
    background-color: #7CB928;
    color: #fff7f7;
    font-size: 12px;
    line-height: 16px;
    padding: 5px 10px 5px 10px;
    margin-left: -18px;
    .tile-gift-title {
        font-size: 14px;
        line-height: 16px;
        padding-left: 20px;
        text-transform: uppercase;
        font-weight: 400;
        margin: 0;
    }
    &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 9px solid fade(#000, 0);
        border-top-color: #72981F;
        border-right-color: #72981F;
        position: absolute;
        top: 100%;
        left: 0;
    }
    &:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        background: url(../img/icons/gift.svg) center no-repeat;
        background-size: 100% auto;
        top: 13px;
        left: 10px;
        margin-top: -10px;
    }
}
@media (min-width: 640px) {
    .item-tile-bonus {
        min-height: 100%;
        display: flex;
        padding: 3rem;
        background: linear-gradient(99.77deg, #1C7EE7 0%, #005D9F 100%);
        border-radius: 10px;
        .tile-photo-wrap {
            width: 180px;
            flex-shrink: 0;
            margin: 0;
        }
        .tile-info-wrap {
            flex: 1;
            max-width: calc(100% - 180px);
            padding: 0 0 0 13px;
            display: flex;
            align-items: center;
        }
        .tile-inner-wrap {
            display: block;
        }
        .tile-title {
            margin-bottom: 10px;
        }
    }
    .item-tile-offer {
        display: flex;
        .tile-photo-wrap {
            width: 290px;
            padding: 0 16px 0 0;
            flex-shrink: 0;
        }
        .tile-info-wrap {
            flex: 1;
            padding: 0;
        }
    }
}
@media (min-width: 768px) {
    .item-tile-card {
        padding: 5rem;
        display: flex;
        border-radius: 10px;
        .tile-photo-wrap {
            width: 29.4rem;
            padding: 0 5rem 0 0;
            flex-shrink: 0;
            margin: 0;
        }
        .tile-actions-inner-wrap {
            margin-bottom: 20px;
        }
        .tile-info-wrap {
            flex: 1;
            margin: 0;
            padding: 0 3rem 0 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .tile-title-wrap {
            margin-bottom: 20px;
        }
        .tile-desc-wrap {
            margin-bottom: 0;
            display: flex;
            .tile-desc {
                padding: 0 15px 0 0;
                width: 50%;
            }
        }
        .tile-actions-wrap {
            width: 162px;
            flex-shrink: 0;
            padding-bottom: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .tile-title {
            font-size: 24px;
            line-height: 28px;
            text-align: left;
            margin: 0 0 20px 0;
        }
        .tile-photo {
            margin: 0;
        }
        .btn {
            font-weight: 400;
            width: auto;
            min-width: 125px;
        }
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .item-tile-card {
        padding-left: 30px;
        padding-right: 30px;
        .tile-photo-wrap {
            width: 24rem;
        }
    }
}
@media (min-width: 1024px) {
    .elm-decor {
        display: block;
    }
    .item-tile-catalog-main {
        .btn {
        }
    }
    .item-tile-catalog {
        .tile-actions-wrap {
            padding-top: 20px;
            margin: 0 -37px 0 0;
        }
        .tile-action {
            padding-right: 37px;
        }
    }
    .item-tile-tarif {
        .btn {
            background-color: transparent;
            color: var(--clr-att);
            width: auto;
            min-width: 180px;
            padding: 0 15px !important;
            &:hover, &.active {
                background-color: var(--clr-att);
                border-color: var(--clr-att);
                color: #fff;
            }
        }
    }
    .item-tile-plus {
        padding: 16px 3.5rem 4.5rem 3.5rem;
        line-height: (24/16);
        .tile-title-wrap {
            margin-bottom: 2.4rem;
        }
        .tile-title {
            padding-left: 3rem;
            &.title-small {
                font-size: (18/16em);
            }
        }
    }
    .item-tile-new {
        display: flex;
        min-height: 194px;
        .tile-photo-wrap {
            width: 178px;
            position: relative;
            display: block;
            flex-shrink: 0;
        }
        .tile-info-wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 15px 0 15px 15px;
            flex: 1;
        }
        .tile-photo {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 10px 0 0 10px;
        }
        .tile-title {
            margin-bottom: 17px;
        }
        .tile-text {
            margin-bottom: 17px;
        }
    }
}