
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="info-inner-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo-footer.svg" alt="">
				</a>
			</div>
			<div class="soc-wrap">
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-wa.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-tg.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-vk.svg" alt="">
				</a>
			</div>
			<div class="phone-wrap">
				<div class="phone-title">Телефон</div>
				<div class="phone-number">
					<a href="tel:89260933334" class="link-phone">8 (926) 093-33-34</a>
				</div>
			</div>
		</div>
		<div class="menu-inner-wrap">
			<div class="menu-wrap">
				<ul class="menu">
					<li>
						<a href="">Для квартиры</a>
						<ul>
							<li><a href="">Интернет</a></li>
							<li><a href="">Телевидение</a></li>
							<li><a href="">Дргуие услуги</a></li>
						</ul>
					</li>
					<li>
						<a href="">Для дома</a>
						<ul>
							<li><a href="">О компании</a></li>
							<li><a href="">Контакты</a></li>
							<li><a href="">Абонентам</a></li>
						</ul>
					</li>
					<li><a href="">Для бизнеса</a></li>
					<li><a href="">Новости</a></li>
				</ul>
			</div>
			<div class="desc-wrap">
				<p>2022© ООО “Битрейс Телеком”, <a href="" class="link-main">Пользовательское соглашение</a>. <br><br>Продолжая использовать наш сайт, вы даете согласие на обработку файлов cookies и других пользовательских данных, в соответствии с <a href="" class="link-main">Политикой конфиденциальности</a>.</p>
			</div>
		</div>
		<div class="form-inner-wrap">
			<form action="/" class="frm-main-subscribe">
				<div class="frm-logo-wrap">
					<div class="logo">
						<img src="./img/main/logo-footer.svg" alt="">
					</div>
				</div>
				<div class="frm-title">Подписаться на рассылку</div>
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" class="form-input inp-light" placeholder="Ваш e-mail">
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field">
						<button type="submit" class="btn">Подписаться</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</footer>
<!-- /footer -->